
html, body {
  font-size: 18pt;
  font-family: "Baloo 2", "M PLUS Rounded 1c", "Segoe UI", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
  background-color: lightgreen;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  margin:3px;
  padding:3px;
  width:calc(100%-6px);

  font-size:18pt;

  border:3px solid green;
  border-radius: 8px;
  background-color: white;
}

footer {
  margin:3px;
  padding:3px;
  width:calc(100%-6px);

  font-size:9pt;

  border:3px solid green;
  border-radius: 8px;

}

#preference {
  margin:3px;
  padding:3px;
  width:calc(100%-6px);

  border:3px solid green;
  border-radius: 8px;
}

#clicking {
  margin:3px;
  padding:3px;
  width:calc(100%-6px);

  border:3px solid green;
  border-radius: 8px;
}
