
.preferenceValueCentered {
  justify-content: center;
}

#clickCountRange,
#countdownRange {
  flex: 0 0 220px;
  max-width: 220px;
  width: 220px;
}

#clickCountValue,
#countdownValue {
  min-width: 32px;
  text-align: right;
  font-weight: 600;
}

#saveButtonContainer {
  margin-top:3px;
  margin-bottom:3px;
  padding:3px;
  width:calc(100%-6px);

  border:0px solid green;
  border-radius: 3px;

  display: flex;
  justify-content: center;
}

#saveConfigBeat {
  width:100px;
}
