body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 0;
}

#playClicking {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 3px;
  padding: 3px;
  width: calc(100% - 6px);
  border-radius: 3px;
  background-color: mintcream;
}

#scorePane {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow-x: hidden;
  padding-bottom: 3px;
}

#showClick {
  margin-bottom: 0;
}

#scoreArea {
  flex: 1;
  overflow-y: auto;
}

#saveShowScore {
  width: 100px;
}
